**/.gitignore export-ignore
**/.gitmodules export-ignore
**/.travis.yml export-ignore

vendor/*/test/** export-ignore
vendor/*/vendor/depot_tools/** export-ignore
vendor/*/.npmignore export-ignore
git_archive_all.py export-ignore
